/*
Theme Name: VG Siva

Adding support for language written in a Right To Left(RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/
body {
	direction: rtl;
	unicode-bidi: embed;
	margin: 0;
}

caption,
th,
td {
	text-align: right;
}

ul,
ol {
	margin: 0;
}
[class*='vc_col-'], [class*='col-xs-'], [class*='col-sm-'], [class*='col-md-'], [class*='col-lg-']{
    float: right;
}
.front-page, .about-page, .contact-us, 
.owl-carousel{
	direction: ltr;
}
.wpb_revslider_element, 
.wpb_heading, 
.wpb_row .vc_tta.vc_general .vc_tta-tabs-list,
.wpb_text_column , .wpcf7-form .field-wrap  {
	direction:rtl;
}
.woocommerce-product-gallery .flex-viewport,
.single-product-image .images .flex-control-thumbs {
    direction: ltr;
}
.page-header{
	margin:0;
	padding:0;
	border-bottom:none;
}
/* Common CSS Start */
.col-md-5ths{
	float:right;
}
.vgw-item-i, .item-i, .vgp-item-i, .testimonial-i{
	direction:rtl;
}
.vgw-socials a{
	-webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
}
.header-overlay .content{
	left:-19px !important;
	right:0 !important;
}
.main-navigation ul ul ul li a:hover:before{
	content:'\f2ff';
}
.mcart-border:after{
	left:0;
	right:auto;
}
.coming-soon:after{
	left:auto;
	right: -36%;
	-webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.rtl .header-style-4 .feature-item:last-child{
	margin-left:20px;
}
.woocommerce-MyAccount-navigation ul{
	padding-left:15px;
	padding-right:30px;
}
.top-bar .widget.widget_nav_menu li:first-child{
	margin-left:15px;
	margin-right:0;
}
.top-bar .col-2 .widget.widget_nav_menu li:last-child{
	margin-left:0;
	margin-right:15px;
}
.mini_cart_inner .top-cart-title span, .mini_cart_inner .top-cart-title i{
	display:inline-block;
}
/*------------------------------------------*/
/*-------------- RESPONSIVE ----------------*/
/*------------------------------------------*/
@media screen and (max-width: 1200px){
}
@media screen and (max-width: 1023px){
}
@media screen and (max-width: 767px){
	.rtl .feature-item:first-child{
		margin-left:15px;
	}
}
@media screen and (max-width: 459px){
}