/*
Theme Name: VG Siva
Theme URI: http://wordpress.vinagecko.net/t/siva/
Author: VinaGecko
Author URI: http://vinagecko.com/
Description: VG Siva is a creative, minimalist responsive WooCommerce WordPress theme specifically designed to adapt its display according to the device in use. It's packed with great features you can customize according to your brand.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column
Text Domain: vg-siva

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.logo-inside.darken{
  padding: 0px !important;
}

.group-banners.style-2 {
  margin-top: 0px !important;
}

.banner-image .image a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(36, 171, 226, 0.66);
  width: 100%;
  height: 100%;
  opacity: 0;
  /* IE8 filter*/
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.banner-image .btn-banner a {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 12px 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.text-1{
  text-shadow: 2px 2px rgba(0,0,0,.2);
  margin-bottom: 0px !important;
}

.discount .title {
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
  background-color: #24abe2;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
}

.wpb_heading.style-3:before {
  display: none;
}

.mini_cart_inner .top-cart-title a {
  display: block;
  border: 0px;
  padding: 13px 15px;
  height: 50px;
  font-size: 14px;
  line-height: 24px;
}

.ft-newsletters {
  padding: 20px 0 10px;
  background-color: #6d6d6d;
  text-align: center;
}

.ft-newsletters .widget-title > h3{
  font-size: 1.8em;
}

.ft-newsletters .textwidget > p{
  font-size: 1.2em;
  color: white;
}

.sale{
  font-weight: bold;
}

.box_field_email_newletters{
  width: 80%;
  float: left;
}

.box_button_email_newletters{
  width: 19%;
  float: right;
}

.button_email_newsletters{
  background-color: #027bb0;
  border: 0px;
  width: 19%;
  height: 40px;
  color: white;
  font-weight: 500;
}

.button_email_newsletters:hover{
  color: #eaeaea;
}

.widget_vgw_social_media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px dashed #f0412b;
  color: #4fafe6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  text-indent: -999px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.widget_vgw_social_media a:hover{
  background-color: #027bb0;
  border: 2px dashed #f0412b;
}

.box_payment_methods{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.item_payment_methods{

}

.payment_method_logo{
  max-width: 50px !important;
  margin-right: 5px;
}

.box_payment_gateway{
  width: 100%;
  padding: 5px 20px;
  border-bottom: 2px solid #6d6d6d;
  margin-bottom: 5px;
}

#payment_gateway{
  max-width: 30% !important;
  min-width: 200px;
  display: block;
  margin: 0 auto;
}

.ft-payment{
  float: none;
  margin: 0 auto;
}

.tools_button{
  background-color: #6d6d6d;
}

.banner_cart{
  width: 100%;
  margin: 1em 0px;
}

.banner_cart img{
  width: 100%;
}

.vgw-item-i.special .button-group .add-to-cart a:hover{
  background-color: #24abe2;
  border-color: #24abe2;
}

.woocommerce p.return-to-shop a.button, .button{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.woocommerce p.return-to-shop a.button:hover, .button:hover{
  background-color: #24abe2;
  color: #fff;
  border-color: #24abe2;
}

.preset-4 .main-navigation .mega-menu>ul>li>a:before{
  display: none;
}

.preset-4 .main-navigation ul ul ul li a:hover:before{
  display: none;
}

.woocommerce table.wishlist_table .product-add-to-cart a{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.main-container .post-content .entry-content a.continue{
  color: #fff;
}

.main-container .post-content .entry-content a{
  color: #000;
}

.woocommerce .buttons-cart .button{
  background-color: #f0412b;
  color: #fff;
  border: 0px;
}

.woocommerce .buttons-cart .button:hover{
  background-color: #24abe2;
  color: #fff;
  border-color: #24abe2;
}

.woocommerce .actions .coupon .button{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.woocommerce .checkout_coupon button.button{
  background-color: #f0412b;
  border-color: #f0412b;
  color: #fff;
}

.woocommerce .checkout_coupon button.button:hover{
  background-color: #24abe2;
  border-color: #24abe2;
}

.woocommerce form .form-row{
  padding: 0px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
  height: 40px;
}

.woocommerce button.button.btn-lost-password,
.woocommerce button.button.btn-save-address,
.preset-4 #customer_login form.register input.button.bth-sign-up,
#customer_login .form-row input.button.btn-login,
.woocommerce button.button.btn-edit-account
{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.woocommerce button.button.btn-lost-password:hover,
.woocommerce button.button.btn-save-address:hover,
.preset-4 #customer_login form.register input.button.bth-sign-up:hover,
#customer_login .form-row input.button.btn-login:hover,
.woocommerce button.button.btn-edit-account:hover
{
  background-color: #24abe2;
  color: #fff;
  border-color: #24abe2;
}

.box-logo-brand{
  display: block;
  margin: 0px auto;
}

.logo-brand{
  width: 300px;
}

.page-brand-shop .post-wrapper .entry-content{
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
}

.brand_shop_banner{
  background-color: #6d6d6d;
  background-image: -webkit-linear-gradient(150deg, #24abe2 35%, #eaeaea 35%);
  border-bottom: 10px solid #6d6d6d;
  min-height: 200px;
  margin-bottom: 15px;
  display: flex;
  align-content: center;
  align-items: center;
}

.woocommerce a.view{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.woocommerce a.view:hover{
  background-color: #24abe2;
  border-color: #24abe2;
}

.order-number,
.order-date,
.order-status{
  color: #24abe2;
  font-weight: 600;
  background-color: transparent;
}

.list-navigation-account{
  list-style: none !important;
  padding-left: 0px !important;
  margin-bottom: 15px;
  border: none !important;
}
.item-navigation-account:hover{
  transition: padding 0.5s ease 0s;
}

.item-navigation-account:hover{
  border-left: 2px solid #f0412b;
  padding-left: 20px;
}

#order_review #payment .place-order #place_order:hover{
  background-color: #24abe2;
  border-color: #24abe2;
}

.woocommerce a.pay{
  background-color: #f0412b;
  color: #fff;
  border-color: #f0412b;
}

.woocommerce a.pay:hover{
  background-color: #24abe2;
  border-color: #24abe2;
}

.message-checkot-error{
  display: block;
  padding-left: 10px;
  border-left: 3px solid #f0412b;
}

.box-transaction-info{
  background-color: #fafafa;
  padding: 20px;
  text-align: center;
  margin-bottom: 1em;
}

.text-status-order{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
}

.box-status-order{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px auto;
}

.box-status-order.success{
  background-color: #01DF3A;
}

.box-status-order.error{
  background-color: #FF4000;
}


.box-status-order i{
  font-size: 5em;
  color: #fff;
}

.box-info-order{
  display: flex;
  justify-content: center;
}

#row-header-search{
  display: flex;
  align-content: center;
  align-items: center;
}

#side-header-search{
  padding: 15px 0px !important;
}

.from-price{
  font-size: 0.8em;
}

.toolbar{
    padding-bottom: 25px;
}

#mfesecure-ts-image{
    left: 0px !important;
}

.wptwa-wc-button span{
    color: white !important;
}

.single-product-image .images .flex-viewport{
    overflow: initial !important;
}

@media (max-width: 1023px) {
  #side-header-search{
    padding: 20px 0px !important;
  }

  #row-header-search{
    display: table;
    align-content: center;
    align-items: center;
  }
}

@media (max-width: 580px) {
  .box_field_email_newletters{
    width: 100%;
  }
  .box_button_email_newletters{
    width: 100%;
  }
  .button_email_newsletters{
    width: 100%;
  }
  .box_payment_methods{
    max-width: 100%;
    margin: 0 auto;
  }
  .col-1{
    display: none;
  }
  .banner_cart{
    display: none;
  }
  .owl-buttons{
    display: none;
  }
  .woocommerce button.button.btn-lost-password{
    width: 100%;
    margin-top: 5px;
  }
}
