/******************************************************************************/
/************************* CSS FOR ALL LAYOUTS ********************************/
/******************************************************************************/


/*------------------------------------------------------------------
[Table of contents]

This theme compiles .less files into .css files. Please open "less" folder to see all LESS file.

1. Theme variables
	1.1 Fonts
	1.2 Colors
	1.3 Defined colors
2. Global CSS
	2.1 Import Fonts
	2.2 HTML Elements
	2.3 Top bar
	2.4 Header default
	2.5 Menu
	2.6 Mobile menu
	2.7 Page Builder Style
		2.7.1 Slideshow
		2.7.2 Banner Style
		2.7.3 Tooltip Style
		2.7.4 Tab Product
		2.7.5 Title Style
		2.7.6 Latest News
		2.7.7 Our Brands
	2.8 WooCommerce onsale label
	2.9 Bottom
	2.10 Footer
	2.11 Added to cart popup
	2.12 Quick view
	2.13 Content
		2.10.1 Page headers
		2.10.2 List products
		2.10.3 Shop toolbar
		2.10.4 Product page
		2.10.5 Contact page
		2.10.6 Cart page
		2.10.7 Full width template
		2.10.8 Default page template
		2.10.9 Page content
		2.10.10 cart page & checkout page
		2.10.11 Checkout page
		2.10.12 Blog page
		2.10.13 Error 404 page
		2.10.14 Sidebars
		2.10.15 Carousel buttons
		2.10.16 Portfolio page
		2.10.17 Single project
	2.14 Page Other
		2.14.1 About Us
		2.14.2 Page 404
		2.14.3 Page Services
		2.14.4 Home Page 2
		2.14.5 Home Page 3
		2.14.6 Home Page 4
	2.15 Page Load
3. Responsive CSS
-------------------------------------------------------------------*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
	max-width: 100%;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.wp-caption-text,
.gallery-caption,
.bypostauthor {
	font-style: italic;
	font-size: 12px;
	color: #757575;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
	max-width: 100%;
}

/*--------------- COMMON ----------------*/
body {
  overflow-x: hidden;
  font-family: @bodyfont;
  font-size:14px;
  line-height:24px;
  color: @textcolor;
  background-color: @bgcolor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0 0 5px;
}
h5{
	font-size:16px;
}
h6{
	font-size:14px;
}
a {
	color: @textcolor;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	max-width: 100%;
}
a:hover {
  .color();
  text-decoration: none;
}
a:focus {
	outline: none;
	text-decoration: none;
}
.su-youtube {
	margin: 0 !Important;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
.share_buttons {
	display: inline-block;
}
input:focus,
button:focus {
	outline: none !important;
}
.post-thumbnail .su-slider-centered {
	margin: 0;
}
a:focus {
	outline: none;
	text-decoration: none !important;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin: 0 0 10px;
}
big {
	font-size: 125%;
}
dd {
	margin-bottom: 24px;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.single-post{
	.post{
		ol, ul {
			padding-left:30px;
		}
		ul{
			list-style:disc outside none;
		}
		ol{
			list-style:decimal outside none;
		}
	}
}
.page .site-content{
	ol, ul {
		padding-left:30px;
	}
	ul{
		list-style:disc outside none;
	}
	ol{
		list-style:decimal outside none;
		.comment{
			list-style:none;
		}
	}
}
.lower-alpha{
	li{
		list-style:lower-alpha;
	}
}
.upper-roman{
	li{
		list-style:upper-roman;
	}
}
.square{
	li{
		list-style:square;
	}
}
.ls-arrow{
	margin:0;
	padding:0;
	li{
		list-style:none;
		&:before{
			display:inline-block;
			content:'\f301';
			font-family:'Material-Design-Iconic-Font';
			margin:0 6px;
		}
	}
}
table {
	border-collapse: separate;
	border-color: #e5e5e5;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
table th,
table td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 10px;
}
caption {
	padding: 10px;
}
.post-password-form input {
	outline: none;
	padding: 5px 10px;
}
.post-password-form input[type=submit] {
	padding: 7px 10px;
	background: #333;
	color: #fff;
	border: none;
	outline: none;
}
.post-password-form input[type=submit]:hover {
	background: #b23636;
}
#yith-wcwl-popup-message {
	display: none;
}
.box-width .vg-website-wrapper{
	max-width: 1200px;
	margin: auto;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0px 0px 8px 2px #DAD5D5;
}
.to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    .right(20px);
    z-index: 9999;
	padding:0;
    cursor: pointer;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 14px;
    line-height: 46px;
	border:3px solid @textcolor;
	background-color:#fff;
    color: @textcolor;
    .transition(all 0.5s);
	text-transform:uppercase;
	letter-spacing:4px;
	padding-left:3px;
	font-weight:700;
	i{
		position:absolute;
		top:-23px;
		left:50%;
		.translate(-9px, 0);
		z-index:1000;
		font-size:32px;
		line-height:32px;
		font-weight:700;
	}
	
}

/* JS Composer */
.wpb_revslider_element {
	margin-bottom:0;
}
.wpb_revslider_heading{ 
	display:none;
}
.vc_col-has-fill>.vc_column-inner, 
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner{
	padding-top:0;
}

/* Divide Column */
.visible-small {
	display: none;
    position: relative;
    width: 100%;
}
.col-md-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    width: 20%;
}

/* Loader Start */
.loaded {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.2em;
  padding:0 !important;
  background:none !important;
  .box-shadow(none) !important;
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    animation: load .9s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}
#pageloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	overflow: hidden;
}
#loader,
#loader:before,
#loader:after {
	border: 3px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	-ms-border-radius:     50%;
	border-radius:         50%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	.border-top-color();
	z-index: 11;
	-webkit-animation: spin 1.7s linear infinite;
	-moz-animation:    spin 1.7s linear infinite;
	-ms-animation:     spin 1.7s linear infinite;
	-o-animation:      spin 1.7s linear infinite;
	animation:         spin 1.7s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	.border-top-color();
	-webkit-animation: spin-reverse .6s linear infinite;
	-moz-animation:    spin-reverse .6s linear infinite;
	-ms-animation:     spin-reverse .6s linear infinite;
	-o-animation:      spin-reverse .6s linear infinite;
	animation:         spin-reverse .6s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	.border-top-color();
	-webkit-animation: spin 1s linear infinite;
	-moz-animation:    spin 1s linear infinite;
	-ms-animation:     spin 1s linear infinite;
	-o-animation:      spin 1s linear infinite;
	animation:         spin 1s linear infinite;
}

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    100% { -moz-transform:rotate(360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    100% { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform:    rotate(360deg);
		-ms-transform:     rotate(360deg);
		-o-transform:      rotate(360deg);
		transform:         rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform:    rotate(360deg);
		-ms-transform:     rotate(360deg);
		-o-transform:      rotate(360deg);
		transform:         rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform:    rotate(-360deg);
		-ms-transform:     rotate(-360deg);
		-o-transform:      rotate(-360deg);
		transform:         rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform:    rotate(-360deg);
		-ms-transform:     rotate(-360deg);
		-o-transform:      rotate(-360deg);
		transform:         rotate(-360deg);
	}
}
#pageloader .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #000;
	z-index: 10;
}
#pageloader .loader-section.left {
	left: 0;
}
#pageloader .loader-section.right {
	right: 0;
}
.loaded #pageloader .loader-section.left {
	-webkit-transform: translateX(-100%);
	-moz-transform:    translateX(-100%);
	-ms-transform:     translateX(-100%);
	-o-transform:      translateX(-100%);
	transform:         translateX(-100%);
	-webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
	-moz-transition:    all .7s .3s cubic-bezier(.645, .045, .355, 1);
	transition:         all .7s .3s cubic-bezier(.645, .045, .355, 1);
}
.loaded #pageloader .loader-section.right {
	-webkit-transform: translateX(100%);
	-moz-transform:    translateX(100%);
	-ms-transform:     translateX(100%);
	-o-transform:      translateX(100%);
	transform:         translateX(100%);
	-webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
	-moz-transition:    all .7s .3s cubic-bezier(.645, .045, .355, 1);
	transition:         all .7s .3s cubic-bezier(.645, .045, .355, 1);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition:    all .3s ease-out;
	transition:         all .3s ease-out;
}
.loaded #pageloader {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-moz-transform:    translateY(-100%);
	-ms-transform:     translateY(-100%);
	-o-transform:      translateY(-100%);
	transform:         translateY(-100%);
	-webkit-transition: all .3s 1s ease-out;
	-moz-transition:    all .3s 1s ease-out;
	transition:         all .3s 1s ease-out;
}
/* Site */
.parallax-bg{
	background-attachment:fixed;
	background-size:cover;
}

/* Owl Controls / Owl Paginations / Owl Buttons */
.owl-theme {
	.owl-controls {
		margin:0;
		padding:0;
		.owl-pagination{
			margin:25px 0 15px;
		}
		.owl-page{
			span{
				width:18px;
				height:18px;
				margin:3px;
				background:none;
				border:2px solid @bordercolor;
				.border-radius(50%);
				.opacity(1);
				position:relative;
				.transition(all 0.4s ease);
				&:after{
					content:'';
					display:block;
					width:10px;
					height:10px;
					position:absolute;
					top:2px;
					left:2px;
					.border-radius(50%);
					background-color:transparent;
					.transition(all 0.4s ease);
				}
			}
			&.active, &:hover{
				span{
					.border-color();
					&:after{
						.background-color();
					}
				}
			}
		} 
		.owl-buttons{
			padding:10px 0;
			div{
				display:inline-block;
				margin:0 8px;
				padding:0;
				background-color:#ddd;
				color:#fff;
				text-align:center;
				text-transform:uppercase;
				width:50px;
				height:50px;
				position:relative;
				overflow:hidden;
				text-indent:-9999px;
				.opacity(1);
				letter-spacing: 2px;
				.transition(all 0.3s ease);
				&:after{
					display:block;
					content:'\f2fa';
					font-family:'Material-Design-Iconic-Font';
					font-size:24px;
					line-height:50px;
					text-indent:0;
					position:absolute;
					top:0;
					left:0;
					width:100%;
				}
				&.disabled{
					background-color:fade(@textcolor,40%);
					cursor:error;
				}
				&.owl-next{
					&:after{
						content:'\f2fb';
					}
				}
				&:hover{
					.background-color();
				}
			}
		}
	}
	
}
.visible-buttons{
	.owl-controls {
		.owl-buttons{
			position:absolute;
			top:-75px;
			.right(-8px);
			z-index:10;
			padding:0;
			div{
				width:30px;
				height:30px;
				background-color:transparent;
				color:@textcolor;
				margin:0 5px;
				&:after{
					font-size:30px;
					line-height:30px;
				}
				&:hover{
					.color();
					background-color:transparent !important;
				}
			}
		}
	}
}
.position-buttons{
	.owl-controls {
		.owl-buttons{
			padding:0;
			div{
				position:absolute;
				top:40%;
				left:0;
				right:0;
				z-index:10;
				margin:0;
				width:40px;
				height:40px;
				background-color:#fff;
				color:@textcolor;
				.opacity(0);
				.translate(-30px, 0);
				.transition(all 0.4s ease);
				&:after{
					font-size: 20px;
					line-height: 40px;
					content:'\f2ff';
				}
				&.owl-next{
					left:auto;
					right:0;
					.translate(30px, 0);
					&:after{
						content:'\f301';
					}
				}
				&:hover{
					.background-color() !important;
					color:#fff;
				}
			}
		}
	}
	&:hover, &.show-buttons{
		.owl-controls {
			.owl-buttons{
				div{
					.opacity(1) !important;
					.translate(0, 0) !important;
				}
			}
		}
	}
}
.pg-absolute{
	.owl-pagination{
		margin: 0;
		position: absolute;
		top: 50%;
		.right(70px);
		.translate(0, -50%);
		width: 25px;
	}
	.owl-controls {
		.owl-page{
			display:block;
			span{
				border-color:transparent;
				&:after{
					background-color:#f5e5da;
				}	
			}	
			&.active, &:hover{
				span{
					border-color:#fff !important;
					&:after{
						background-color:#fff !important;
					}	
				}
			}
		} 	
	}
}
.hidden-controls{
	.owl-controls {
		display:none !important;
	}
}
/* Button Start */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .button {
	outline:none;
	display:inline-block;
	padding:8px 15px;
	border:2px solid @textcolor;
	color:@textcolor;
	font-weight:700;
	text-transform:uppercase;
	font-size: 14px;
    line-height: 20px;
    background: none;
    .border-radius(0);
	&:hover{
		background:@textcolor;
		color:#fff;
	}
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
	padding:8px 15px;
	font-size: 14px;
    line-height: 20px;
	vertical-align:top;
}

/*--------------- Woocommerce Start ----------------*/

/* Product Quick View */
#quick_view_container
{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100vh;
	display: none;
	z-index: 9999;
	left: 0;
	top: 0;
	overflow: hidden;
}
#placeholder_product_quick_view
{
	position: absolute;
	width: 1024px;
	max-height: 80vh;
	min-height: 500px;
	height: auto;
	max-width: calc(100% - 60px);
	background: transparent;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#placeholder_product_quick_view > div 
{
	padding: 20px;
	background: #FFF;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
	max-height: 100%;
	overflow: auto;
}

#placeholder_product_quick_view #close_quickview
{
	position: absolute;
	right: 30px;
	top: 30px;
	background: url('../images/close-quick.svg');
	opacity: 0.1;
	width: 16px;
	height: 16px;
	z-index: 999;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
}

#placeholder_product_quick_view #close_quickview:hover 
{
	opacity: .5;
}

#quick_view_container .product_images .owl-controls
{
	display: block !important;
}

#quick_view_container .product_content_wrapper
{
	padding: 0;
	margin: 0;
}

#quick_view_container .product_content_wrapper .row 
{
	padding: 0;
}

#quick_view_container .product_content_wrapper .row .large-6
{
	padding: 0;
}

#quick_view_container .woocommerce-review-link
{
	display: none;
}

#quick_view_container .star-rating,
#quick_view_container .star-rating span
{
	font-size: 0.625rem;
}

#quick_view_container .product_infos
{
	padding: 45px 90px 0 90px;
}
#quick_view_container .product_infos h1
{
	font-size: 1.5rem;
	line-height: 1.4;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
#quick_view_container .woocommerce-product-rating
{
	padding: 0;
	margin: 0;
}
#quick_view_container .product_infos h1
{
	margin: 15px 0 15px 0;
	padding: 0;
}
#quick_view_container .product_infos .product_price .price
{
	margin-bottom: 30px;
	font-size: 1.5rem;
}
#quick_view_container .product_infos .single_add_to_cart_button
{
	font-size: 0.8125rem;
	min-width: 170px;
}
#placeholder_product_quick_view .product_infos .onsale, 
#placeholder_product_quick_view .product_infos .out_of_stock
{
	display: none !important;
}
#placeholder_product_quick_view .owl-theme .owl-controls .owl-page span
{
	border: solid 2px #dedee0;
    background: transparent;
}
#placeholder_product_quick_view .owl-theme .owl-controls .owl-page.active span,
#placeholder_product_quick_view .owl-theme .owl-controls.clickable .owl-page:hover span
{
	border: solid 2px #dedee0;
    background: #dedee0;
}
#placeholder_product_quick_view .product-images-wrapper
{
	overflow: hidden;
}
#placeholder_product_quick_view .owl-controls
{
	position: initial;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: -29px;
}
#placeholder_product_quick_view .owl-controls .owl-pagination
{
    display: inline-block;
    position: relative;
}
#placeholder_product_quick_view .owl-controls .owl-buttons .owl-prev
{
	position: absolute;
	left: 0;
	top: 50%;
	margin: -43px 0 0 0;

}
#placeholder_product_quick_view .owl-controls .owl-buttons .owl-next
{
	position: absolute;
	right: 0;
	top: 50%;
	margin: -43px 0 0 0;
}
#placeholder_product_quick_view .cart, 
#placeholder_product_quick_view .cart .quantity
{
	margin-bottom: 0;
}

/* Added to cart popup */ 
.atc-notice-wrapper {
	background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
	display: none;
	left: 50%;
	margin-left: -160px;
    max-width: 100%;
    position: fixed;
	top: 40%;
    width: 320px;
    z-index: 100000;
	
	.close {
		color: #333;
		font-size: 22px;
		opacity: 1;
		position: absolute;
		right: 5px;
		top: 5px;
		-webkit-transition: color 0.3s ease;
		transition: color 0.3s ease;
		
		&:hover {
			.color();
		}
	}
	h3 {
		border-bottom: 1px solid @bordercolor;
		font-size: 16px;
		margin: 0 0 10px;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
	}
	.product-wrapper {
		float: left;
		padding: 0 10px;
		width: 100%;
	}
	.product-image {
		float: left;
		width: 25%;
	}
	.product-info {
		float: left;
		padding-left: 20px;
		width: 75%;
		
		h4 {
			font-size: 15px;
			margin: 0 0 10px;
		}
		.price {
			float: left;
			margin: 0;
			width: 100%;

			.special-price {
				.color();
				font-size: 18px;
				font-weight: bold;
			}
			.old-price {
				color: #999;
				font-size: 16px;
				.margin-right();
				text-decoration: line-through;
			}
		}
	}
	.buttons {
		background: @bordercolor;
		float: left;
		margin: 10px 0 0;
		padding: 10px;
		width: 100%;
		
		.button {
			.background();
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: #fff;
			display: inline-block;
			float: right;
			height: 30px;
			line-height: 30px;
			padding: 0 20px;
			text-shadow: none;
	
			&:hover {
				background: #333;
			}
		}
	}
}
#yith-wcwl-popup-message{
	.border-radius(0);
	font-size: 22px;
    text-transform: uppercase;
    color: green;
	padding:30px;
	.box-shadow(0 0 20px 5px fade(@textcolor, 60%));
}

.quantity {
	font-size: 16px;
	height: 50px;
	.margin-right();
	width: auto;
	position:relative;
	.section-title{
		.float-left();
		.margin-right(25px);
		line-height:35px;
		font-size:15px;
		font-weight:700;
	}
	.input-text, input[type="text"], .form-row .input-text {
		background: none !important;
		border-radius: 0 !important;
		box-shadow: none;
		font-weight: 300;
		height: 50px !important;
		margin: 0;
		width: 60px !important;
		padding: 0 !important;
		.float-left();
		border: 1px solid @bordercolor !important;
		line-height: 48px;
	}
	.minus, .plus {
		.background();
		box-shadow: none;
		color: #fff;
		.float-left();
		height: 25px;
		position: static;
		text-shadow: none;
		width: 40px;
		font-size: 16px;
		font-weight: 300;
		line-height: 23px;
		cursor: pointer;
		.border-radius(0);
		border-width: 1px;
		border-style: solid;
		.border-color();
		border-left-width:0;
		&:hover{
			background:@primarycolor5;
			border-color:  @primarycolor5;
		}
	}
	.minus{
		position: absolute;
		.left(60px);
		bottom: 0;
	}
}
	
.product-label{
	position:absolute;
	top:1px;
	left:0;
	width:100%;
	z-index:10;
	span{
		display:block;
		min-width:70px;
		text-transform:uppercase;
		font-size:12px;
		line-height:16px;
		padding:5px 10px;
		background:@salecolor;
		color:#fff;
		text-align:center;
		.border-radius(4px);
		.transition(all 0.4s linear);
		position:absolute;
		top:0;
		left:0;
		&.featured{
			left:auto;
			right:0;
			background:@featuredcolor;
			.transition(all 0.3s linear);
		}
	}
}
.timer-grid{
	text-align:center;
	margin-top:15px;
	&:before, &:after{
		content:'';
		display:table;
	}
	&:after{
		clear:both;
	}
	div {
		display:block;
		width:25%;
		.float-left();
		text-align:center;
		font-size:12px;
		line-height:20px;
		font-weight:500;
		height:64px;
		padding:10px 0;
		background-color:fade(@black, 50%);
		color:#fff;
		border-width:0;
		border-style:solid;
		border-color:fade(#fff, 5%);
		.border-right-width(1px);
		text-transform:uppercase;
		&:last-child{
			.border-right-width(0);
		}
		span{
			display:block;
			width:100%;
			font-size:18px;
			line-height:24px;
			font-weight:700;
		}
		i{
			font-style:normal;
		}
	}
}

.product-rating {
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 10px;
	clear: both;
	float: left;
	width: 100%;
    .color();
	.star-rating {
		font-family: 'Material-Design-Iconic-Font';
		line-height: 16px;
		overflow: hidden;
		position: relative;
		width: 80px;
		height: 16px;
		float: left;
		display: inline-block !important;
		vertical-align:top;
		letter-spacing: 5px;
		font-size: 14px;
		margin-right:5px !important;
		text-indent: 0;
		&:before {
			.color();
			content: "\f27c\f27c\f27c\f27c\f27c";
			font-family: 'Material-Design-Iconic-Font';
			float: left;
			left: 0;
			position: absolute;
			top: 0;
			width: 80px;
			height: 16px;
		}
		span {
			float: left;
			left: 0;
			overflow: hidden;
			padding-top: 1.5em;
			position: absolute;
			top: 0;
			.color();
			letter-spacing: 5px;
			height: 16px;
			&:before{
				content: "\f27d\f27d\f27d\f27d\f27d";
				font-family: 'Material-Design-Iconic-Font';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 16px;
			}
		}
	}
}

.product-price, .compare-list .price, .price {
    display: block;
    margin: 0 0 15px;
    font-size: 22px;
	line-height:30px;
	min-height:30px;
    font-weight:500;
    color: @textcolor !important;
	del {
		margin: 0;
		color: @greycolor;
		text-decoration: none;
		font-size: 20px;
		line-height: 30px;
		.opacity(1) !important;
		position:relative;
		&:after{
			content:'';
			display:block;
			width:115%;
			height:1px;
			background-color:#e0e0e0;
			position:absolute;
			.left(-5px);
			top:50%;
			z-index:10;
		}
	}
	> .amount {
		&:last-child {
			margin: 0 0 0 5px;
		}
		&:first-child {
			margin: 0 5px 0 0;
		}
	}
	ins {
		display: inline-block;
		width:auto;
		margin: 0 0 0 5px;
	    text-decoration: none !important;
	}
	&.price-variable {
		.amount {
			&:last-child {
				margin: 0 0 0 5px;
			}
			&:first-child {
				margin: 0 5px 0 0;
			}
		}
	}
}
.woocommerce-Price-currencySymbol{
	margin:0 1px;
	font-size:14px;
	line-height:24px;
	vertical-align:top;
}


/* Widget Start */
.widget-title{
	display:block;
	width:100%;
	margin: 0 0 15px;
	position:relative;
	h3{
		color:@textcolor;
		font-size:16px;
		line-height:20px;
		text-transform:uppercase;
		padding-bottom:15px;
		border-bottom:1px solid @bordercolor;
		font-weight:600;
		margin:0;
		&:before{
			display:inline-block;
			content:'\f26d';
			font-family:'Material-Design-Iconic-Font';
			.margin-right();
			font-size:10px;
			line-height:20px;
			vertical-align:top;
			.color();
		}
	}
}
.widgettitle{
	display:block;
	width:100%;
	position:relative;
	font-size:30px;
	line-height:36px;
	margin:0 0 15px;
	font-family:@bodyfont2;
	color:@primarycolor5;
}
.widget_vg_siva_product_search{
	.widget-title{
		display:none;
	}
}
.widget{
	margin:0 0 35px;
	&:last-child{
		margin:0;
	}
	&:before, &:after {
	  content: "";
	  display: table;
	}
	&:after {
	  clear: both;
	}
	.input_text,  input[type="text"] , input[type="search"] {
	  border: 1px solid @bordercolor2;
	  height: 40px;
	  padding: 0 10px;
	  width: 100%;
	  outline:none;
	  box-shadow:none;
	}
	select {
	  max-width: 100%;
	  width: 100%;
	  border: 1px solid @bordercolor2;
	  height: 40px;
	  line-height: 40px;
	}
	.widget_content {
	  float: left;
	  width: 100%;
	}
	iframe {
	  max-width: 100%;
	}
	.wp-caption {
	  margin: 15px 0;
	}
	ul, ol{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style:none;
		li{
			float: none;
			padding:10px 0;
			list-style: none;
			width: 100%;
			position:relative;
			&:last-child{
				padding-bottom: 0;
			}
			a{
				color: @textcolor;
				&:hover{
					.color();
				}
			}
			.count {
				margin: 0 7px;
				font-size:14px;
				color:@textcolor2;
			}
			&.chosen {
				width: 100%;
				a{
					background: #b23636;
					border: none;
					border-radius: 0;
					color: #fff;
					padding: 3px 10px;
					&:before {
						background: none;
						content: "\f00d";
						font-family: FontAwesome;
						.margin-right(8px);
						top: -2px;
					}
					&:hover{
						.background();
					}
				}
			}
			ul, ol{
				.padding(8px, 0, 0 , 20px);
				background: none;
			}
		}
	}
}
.widget-footer{
	.clear{
		display:none;
		a{
			color:#fff;
		}
	}
}

.tagcloud {
	margin:0 -5px;
	a {
		font-size: 14px !important; 
		line-height:16px;
		display: inline-block;
		padding: 10px 20px;
		margin: 0 5px 5px;
		border: 1px dashed fade(#a34253, 30%);
		text-transform: none;
		-webkit-transition: background 0.3s, color 0.2s;
		-moz-transition: background 0.3s, color 0.2s;
		transition: background 0.3s, color 0.2s;
		&:hover {
			.color();
		}
	}
}

.widget_calendar {
	table#wp-calendar {
		width: 100%;
		
		caption {
			font-weight:700;
			margin: 0 0 10px;
		}
	}
}
.widget_rss {
	h3 {
		> span {
			transform: translate(0,-4px);
			display: inline-block;
			.margin-left(-10px);
		}
		a.rsswidget {
			.margin-left();
			display: inline-block;
		}
	}
	ul {
		li {
			margin-bottom: 20px;
			&:last-child {
				margin: 0;
			}
			.rsswidget { 
				text-transform: uppercase;
				.color();
				&:hover {
					text-decoration: underline;
				}
			}
			cite {
				font-weight:700;
				font-style: italic;
			}
			.rss-date {
				display: block;
				font-style: italic;
				width: 100%;
			}
			.rssSummary {
				font-size: 13px;
			}
		}
	}
}
.widget_text {
	select {
		margin: 0;
	}
}
.widget_search{
	form{
		position:relative;
	}
	input[type=search], .input_text {
	  height: 40px;
	  .float-left();
	  border-right: 0;
	}
	.search-submit, .button {
	  background-color: @bordercolor !important;
	  border-color: @bordercolor !important;
	  border: 0;
	  border-radius: 0;
	  box-shadow: none;
	  color: #fff !important;
	  display: inline-block;
	  font-size: 14px;
	  font-weight:700;
	  height: 40px;
	  line-height: 36px !important;
	  padding: 0 20px !important;
	  text-shadow: none;
	  text-transform: uppercase;
	  -webkit-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	  text-align: center;
	  position: absolute !important;
	  top: 0;
	  .right(0);
	  z-index: 2;
	  &:hover,&:focus {
		  background: @textcolor !important;
		  border-color: @textcolor !important;
	  }
	}
}
.site-main{
	.searchform{
		position:relative;
		input[type=search], .input_text {
		  height: 40px;
		  padding:0 10px;
		}
	}
}
.widget_archive select {
  width: 100%;
  border: 1px solid @bordercolor2;
  height: 32px;
  line-height: 32px;
}

.widget_shopping_cart{
	.widget-title{
		display:none;
	}
}
.widget_vgw_social_media{
	a{
		display:inline-block;
		width:40px;
		height:40px;
		border:1px dashed @textcolor;
		color:@textcolor;
		.border-radius(2px);
		overflow:hidden;
		text-indent:-999px;
		position:relative;
		.margin-right();
		margin-bottom:5px;
		text-align:center;
		.transition(all 0.35s linear);
		&:after{
			content:'';
			font-family:'Material-Design-Iconic-Font';
			position:absolute;
			top:0;
			left:0;
			width:100%;
			line-height:38px;
			font-size:20px;
			text-indent:0;
		}
		&:hover{
			color:#fff;
			background-color:@textcolor;
			border-color:@textcolor;
		}
	}
	.widget_connect_facebook{
		&:after{
			content:'\f343';
		}
	}
	.widget_connect_pinterest{
		&:after{
			content:'\f3fc';
		}
	}
	.widget_connect_linkedin{
		&:after{
			content:'\f3f8';
		}
	}
	.widget_connect_twitter{
		&:after{
			content:'\f360';
		}
	}
	.widget_connect_googleplus{
		&:after{
			content:'\f34d';
		}
	}
	.widget_connect_rss{
		&:after{
			content:'\f3ea';
		}
	}
	.widget_connect_tumblr{
		&:after{
			content:'\f402';
		}
	}
	.widget_connect_instagram{
		&:after{
			content:'\f34f';
		}
	}
	.widget_connect_youtube{
		&:after{
			content:'\f408';
		}
	}
	.widget_connect_vimeo{
		&:after{
			content:'\f404';
		}
	}
	.widget_connect_behance{
		&:after{
			content:'\f33d';
		}
	}
	.widget_connect_dribble{
		&:after{
			content:'\f17d';
			font-family:'FontAwesome';
		}
	}
	.widget_connect_flickr{
		&:after{
			content:'\f3f5';
		}
	}
	.widget_connect_git{
		&:after{
			content:'\f3f6';
		}
	}
	.widget_connect_skype{
		&:after{
			content:'\f3ff';
		}
	}
	.widget_connect_weibo{
		&:after{
			content:'\f18a';
			font-family:'FontAwesome'
		}
	}
	.widget_connect_foursquare{
		&:after{
			content:'\f180';
			font-family:'FontAwesome'
		}
	}
	.widget_connect_soundcloud{
		&:after{
			content:'\f401';
		}
	}
	.widget_connect_vk{
		&:after{
			content:'\f361';
		}
	}
}

.widget_product_categories, .widget_categories, .widget_nav_menu, .widget_archive, .widget_meta, .widget_recent_comments , .widget_recent_entries, .widget_pages  {
	ul{
		li{
			padding:10px 0;
			color:#a3a3a3;
			&:last-child{
				padding-bottom:0;
			}
			a{
				color:#505050;
				&:hover{
					.color();
				}
			}
			&.current-menu-item, &.current-cat, &.cat-parent {	
				.color();
				> a {
					.color();
				}
			}
		}
	}
}

.widget_recent_entries {
	ul {
		li {
			a{
				display:block;
				margin-bottom:7px;
			}
			.post-date {
				display:block;
				color: #a3a3a3;
				font-size: 14px;
				line-height: 18px;
				&:before {
					content: "\f073";
					display: inline-block;
					font-family: FontAwesome;
					.margin-right(5px);
				}
			}
		}
	}
}
.widget_recent_comments{
	ul{
		li{
			color: #a3a3a3;
			.comment-author-link{
				text-transform:capitalize;
				color:#505050;
			}
			a{
				.color();
			}
		}
	}
}
/* Widget Woocommerce Start */
.woocommerce {
	&.widget_price_filter {
		.price_slider_wrapper {
			padding-top:20px;
			.ui-widget-content {
				background-color: #dbdbdb;
				margin-bottom: 20px;
				border-radius: 0;
			}
		}
		.ui-slider {
			height:5px;
			.ui-slider-range {
				background-color: @primarycolor5;
			}
			.ui-slider-handle {
				background-color: @primarycolor5;
				.border-radius(50%);
			}
		}
		.price_label {
			color: @textcolor;
			font-size:16px;
			span{
				&.from{
					margin:0 5px;
				}
				&.to{
					margin:0 0 0 5px;
				}
			}
		}
		.price_slider_amount {
			text-align:left;
			.button{
				.border-color();
				.background-color();
				color:#fff;
				.border-radius(4px);
				float:right;
				&:hover{
					background-color:@primarycolor5;
					border-color:@primarycolor5;
				}
			}
		}
	}
}
.widget_products, .widget_top_rated_products {
	&.woocommerce {
		ul.cart_list, ul.product_list_widget{
			li{
				padding:10px 0;
				img{
					width:80px;
					float:left;
					margin:5px 20px 0 0;
				}
				a{					
					text-transform: capitalize;
					font-weight:400;
					&:hover{
						padding:0 !important;
					}
				}
				.product-title{
					display:block;
					margin-bottom:10px;
				}
				.product-rating{
					float:none;
					display:inline-block;
					text-indent:-999px;
					position:relative;
					overflow:hidden;
					width:73px;
					margin-bottom: 5px;
					.star-rating{
						position:absolute;
						top:0;
						left:0;
						margin-right:0 !important;
					}
				}
				.product-price{
					width: 100%;
					display: block;
					font-size:15px;
					margin-bottom:0;
					del{
						text-decoration:line-through;
						.amount {
							font-size:12px;
							text-decoration:line-through;
						}
					}
				}
			}
		}
	}
	.product-price{
		&.price-variable{
			del{
				display:none !important;
			}	
		}
	}
}
.widget_product_tag_cloud {
	.tagcloud {
		padding:0;
		a {
			font-size: 14px !important;
			display: inline-block;
			padding: 8px 15px;
			margin: 0 5px 5px;
			border: 1px dashed fade(#a34253, 30%);
			text-transform: capitalize;
			-webkit-transition: background 0.3s, color 0.2s;
			-moz-transition: background 0.3s, color 0.2s;
			transition: background 0.3s, color 0.2s;
			color: @textcolor;
			&:hover {
				color:@primarycolor5;
			}
		}
		br {
			display: none;
		}
	}
}
.yith-woocompare-widget{
	ul.products-list{
		padding-left:20px;
		li{
			padding:10px 0;
			border-bottom:none;
			&:not(.list_empty){
				padding:10px 0;
				border-bottom:none;
			}
			a{
				&.title{
					text-transform: uppercase;
					position: relative;
					font-weight:700;
					font-size:14px;
					line-height:20px;
					color:#4f4f4f;
				}
				&.remove{
					position:absolute;
					top:50%;
					right:0;
					left:auto;
					.translate(0, -50%);
					z-index:10;
					font-size:14px;
					line-height:20px;
					color:@textcolor;
					&:hover{
						background-color:transparent !important;
						color:red !important;
					}
				}
			}
		}
	}
	a.compare{
		.float-left();
		.border-color();
		.background-color();
		color:#fff;
		&:hover{
			background-color:@textcolor;
			border-color:@textcolor;
		}
	}
	.clear-all {
		line-height: 40px;
		.float-right();
		font-size:14px;
		text-transform:uppercase;
	}
}

.widget_product_categories{
	ul{
		padding-left:0;
		li {
			border-bottom: 1px solid @bordercolor;
			&:last-child {
				border-bottom: none;
				padding-bottom:0;
			}
			.children{
				li {
					border-bottom: none;
				}
			}
			> a {
				text-transform: uppercase;
				position: relative;
				font-weight:700;
				&:before{
					display:inline-block;
					content:'\f26d';
					font-family:'Material-Design-Iconic-Font';
					.margin-right();
					font-size:10px;
					line-height:20px;
					vertical-align:top;
					.color();
				}
			}
			&.current-menu-item, &.current-cat, &.cat-parent, &:hover {	
				> a {
					&:before{
						color:@primarycolor5;
					}
				}
			}
			> ul{
				.padding(8px,0,8px,20px);
				>li {
					padding:10px 0;
					&.current-cat, &.cat-parent, &:hover {	
						> a {
							color:@primarycolor5;
							&:before{
								color:@primarycolor5;
							}
						}
					}
					> a {
						text-transform: none;
						font-weight:400;
						&:before{
							display:none;
						}
					}
				}
			}
		}
	}
}
.sidebar-category{
	.widget-title{
		display:block;
		width:100%;
		margin: 0 0 20px;
		position:relative;
		h3{
			font-size:30px;
			line-height:36px;
			margin:0;
			font-family:@bodyfont2;
			color:@primarycolor5;
			font-weight:normal;
			border-bottom:none;
			padding-bottom:0;
			text-transform:none;
			&:before{
				display:none;
			}
		}
	}
	
	.widget_text .textwidget{
		padding-left:0;
	}
	
	.widget_layered_nav, .widget_categories, .widget_nav_menu{
		ul, ol {
			li {
				padding:10px 0;
				font-size:14px;
				line-height:24px;
				color:#4f4f4f;
				&:last-child{
					border-bottom:none;
				}
				> a {
					color:#4f4f4f;
					text-transform: uppercase;
					position: relative;
					font-weight:700;
					&:hover{
						.color();
					}
				}
				> ul{
					.padding(0,0,0,20px);
					>li {
						> a {
							font-weight:400;
						}
					}
				}
				&.chosen {
					a {
						&:before {
							display: none;
						}
						color: #fff !important;
					}
				}
			}
		}
	}
}
/* Main Menu Replace Start */
#vg-header-wrapper{
	.container-fluid, .container{
		position:relative;
	}
}
#navigation{
	position:static;
}
.main-navigation > ul.menu-main-menu{
	display:block;
	width:100%;
	position:static;
}
.main-navigation ul li a{
	position:relative;
}
.main-navigation {
	.mega-menu{
		> ul{
			&:before, &:after{
				content:'';
				display:table;
			}
			&:after{
				clear:both;
			}
		}
		&.full-menu {
			position:static;
			> ul{
				left:15px !important;
				right:15px !important;
			}
		}
		&.multi-columns{
			> ul{
				min-width:800px;
				> li{
					display:block;
					.float-left();
					padding:0 15px !important;
				}
			}
		}
		&.column_2{
			> ul{
				> li{
					width:50%;
					min-width:50%;
					&:nth-child(2n+1){
						clear:both;
					}
				}
			}
		}
		&.column_3{
			> ul{
				> li{
					width:33.3333%;
					min-width:33.3333%;
					&:nth-child(3n+1){
						clear:both;
					}
				}
			}
		}
		&.column_4{
			> ul{
				> li{
					width:25%;
					min-width:25%;
					&:nth-child(4n+1){
						clear:both;
					}
				}
			}
		}
	}
}

.main-navigation .mega-menu > ul ul ul{
	.padding-left(15px) !important;
}

/* Mobile Menu */
.tools_button{
	line-height:60px;
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
	cursor:pointer;
	.text-left();
	display:block;
	padding:0 15px;
	background:#000;
	color:#fff;
	cursor:pointer;
	.transition(background 0.4s ease);
	&:hover{
		color:#fff !important;
		.background();
	}
}
.tools_button_icon{
	margin:0 15px;
	margin-right:0;
	.float-right()
}
.admin-bar .vg-menu{
	padding:32px 0;
}

/* Sitcky Menu */
.admin-bar #vg-header-wrapper.fixed{
	top: 32px !important; 
}
#vg-header-wrapper.fixed{
	top: 0 !important;
	left: 0 !important;
	z-index: 8000 !important;
	position: fixed !important;
	width: 100%;
	background:#fff !important;
	box-shadow:0 0 10px @bordercolor;
	min-height:70px;
	.container, .row, [class*="col-"]{
		min-height:0;
	}
}

/* Pagination */
.pagination{
	.float-left();
    width: 100%;
	margin:0;
	padding:15px 0 0;
	display:block;
	.nav-links{
		margin-bottom:0;
		margin-top:40px;
	}
	a, span{
		display: inline-block;
		vertical-align:top;
		.margin-right(5px);
		.float-none();
		padding:0;
		color: #3f3f3f;
		min-width:45px;
		height: 45px;
		font-size: 16px;
		line-height: 43px;
		text-align:center;
		font-weight: 300;
		background:#fff;
		border: 1px solid #fff;
		span{
			display:none;
		}
		&:hover{
			border-color:@color;
			background:@color;
			color: #fff;
		}
	}
	span{
		border-color:@color;
		background:@color;
		color: #fff;
	}
}


/* Banner */
.banner-box, .widget_sp_image{	
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	&.style-1{
		a {
			position: relative;
			overflow: hidden;
			display: inline-block;
			width: 100%;
			color: #fff;
			img {
				webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}
			&:hover {
				&:before, &:after {
					.opacity(100);
					.scale(1);
				}
			}
			&:before, &:after {
				position: absolute;
				content: '';
				z-index: 1;
				-webkit-transform: scale(0,1);
				-moz-transform: scale(0,1);
				-ms-transform: scale(0,1);
				-o-transform: scale(0,1);
				transform: scale(0,1);
				-moz-transition: opacity 0.35s, -moz-transform 0.35s;
				-ms-transition: opacity 0.35s, -ms-transform 0.35s;
				-o-transition: opacity 0.35s, -o-transform 0.35s;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				opacity: 0;
			}
			&:before {
				top: 15%;
				right: 7%;
				bottom: 15%;
				left: 7%;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
			}
			&:after {
				top: 7%;
				right: 15%;
				bottom: 7%;
				left: 15%;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
				-webkit-transform-origin: 100% 0;
				transform-origin: 100% 0;
			}
		}
		img {
			margin: 0 auto;
			position: relative;
			display: block;
			opacity: 0.95;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
		}
		&:before {
			position: absolute;
			top: -150px;
			left: -150px;
			width: 100%;
			height: 100%;
			background: fade(#fff,50%);
			content: '';
			z-index: 1;
			-webkit-transition: -webkit-transform 0.6s;
			transition: transform 0.6s;
			-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,-1,30deg) translate3d(0,-100%,0);
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,-1,30deg) translate3d(0,-100%,0);
		}
		&:hover {
			&:before {
				-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,-1,30deg) translate3d(0,200%,0);
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,-1,30deg) translate3d(0,300%,0);
			}
			img {
				opacity: 0.6;
				-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);
			}
		}
	}
	&.style-2{
		figure{
			overflow:hidden;
			&:after{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				content: '';
				opacity: 0;
				-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
				transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
				-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
				-webkit-transition: opacity 0.35s, transform 0.35s;
				-moz-transition: opacity 0.35s, transform 0.35s;
				-o-transition: opacity 0.35s, transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}
		}
		img{
			opacity: 0.9;
			-webkit-transition: opacity 0.35s, transform 0.35s;
			-moz-transition: opacity 0.35s, transform 0.35s;
			-o-transition: opacity 0.35s, transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		&:hover{
			background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
			background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
			img{
				opacity: 0.7;
				-webkit-transform: scale3d(1.05,1.05,1);
				transform: scale3d(1.05,1.05,1);
			}
			figure{
				&:after{
					opacity: 1;
					-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
					transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
				}
			}
		}
	}
	&.style-3{
		figure{
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
				background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
				content: '';
				.opacity(0);
				-webkit-transform: translate3d(0,50%,0);
				-moz-transform: translate3d(0,50%,0);
				-o-transform: translate3d(0,50%,0);
				transform: translate3d(0,50%,0);
				z-index:1000;
				-webkit-transition: opacity 0.35s, transform 0.35s;
				-moz-transition: opacity 0.35s, transform 0.35s;
				-o-transition: opacity 0.35s, transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}
		}
		img{
			.opacity(0.8);
			-webkit-transform:scale3d(1.05,1.05,1);
			-moz-transform: scale3d(1.05,1.05,1);
			-o-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
			-webkit-transition: opacity 0.35s, transform 0.35s;
			-moz-transition: opacity 0.35s, transform 0.35s;
			-o-transition: opacity 0.35s, transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		&:hover{
			figure{
				&:before{
					.opacity(1);
					-webkit-transform: translate3d(0,0,0);
					-moz-transform: translate3d(0,0,0);
					-o-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}
			}
			img{
				.opacity(1);
				-webkit-transform: scale3d(1, 1, 1);
				-moz-transform: scale3d(1, 1, 1);
				-o-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
			}
		}
	}
	&.style-4{
		figure{
			&:before{
				position: absolute;
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
				border: 1px solid #fff;
				content: '';
				.opacity(0);
				-webkit-transition: opacity 0.35s, transform 0.35s;
				-moz-transition: opacity 0.35s, transform 0.35s;
				-o-transition: opacity 0.35s, transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform:scale(1.1);
				z-index:1000;
			}
		}
		img{
			-webkit-transition: opacity 0.35s, transform 0.35s;
			-moz-transition: opacity 0.35s, transform 0.35s;
			-o-transition: opacity 0.35s, transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		&:hover{
			figure{
				&:before{
					.opacity(1);
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}
			}
			img{
				.opacity(0.7);
				-webkit-transform: scale(1.15);
				-moz-transform: scale(1.15);
				-o-transform: scale(1.15);
				transform: scale(1.15);
			}
		}
	}
}
.vc_row[data-vc-full-width]{
	overflow:visible !important;
}
.has-seperator{
	position:relative;
	&:after{
		content:'';
		display:table;
		position:absolute;
		bottom:-60px;
		left:50%;
		z-index:100;
		width:1px;
		height:120px;
		.background-color();
	}
}
