/*------------------------------------------------------------------
[Table of contents]

	Navigation / Large Screens 
		Mega-Menu
	Navigation / Small & Medium Screens
		Off-Canvas Search
		Off-Canvas Language and Currency 

[/Table of contents]
-------------------------------------------------------------------*/
@import 'var.less';

/**********************************************************************************/
/* Navigation / Large Screens *****************************************************/
/**********************************************************************************/

.main-navigation {
	.text-left();
	height:auto;
	line-height:normal;
}

.main-navigation.align_left {
	.text-left();
}

.main-navigation.align_center {
	.text-center();
}

.main-navigation.align_right {
	.text-right();
}

.main-navigation > ul {
    vertical-align: middle;
	display:inline;
}

.main-navigation.align_right > ul {
	.margin-right(-15px);
}

.main-navigation ul li:hover > ul {
	.opacity(1);
	.rotateX(0deg);
	visibility: visible;
}

.main-navigation > ul > li.call-to-action
{
	margin: -1px 4px 0;
}

.main-navigation > ul > li.call-to-action > a {
	border-width:1px;
	border-style:solid;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.main-navigation > ul > li.menu-item-has-children {
	a{
		.padding-right(20px);
	}
}

.main-navigation ul li.menu-item-has-children > a:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	content: "\f105";
	display: block;
	width: 10px;
	height: 24px;
	position: absolute;
	.right(0);
	top: 7px;
	line-height:24px;
	.text-left();
}

.main-navigation > ul > li.menu-item-has-children > a:after {
	top: 50%;
	.right(3px);
	content: "\f107";
	margin-top: -7px;
	line-height: 13px;
	height: auto;
	
}

.main-navigation ul {
	padding: 0;
	margin:0;
	list-style: none;
	position: relative;
}

.main-navigation ul:after {
	content: "";
	clear: both;
	display: block;
}

.main-navigation ul li {
	/*float: left;*/
	display:inline-block;
	white-space:nowrap;
	position:relative;
}

.main-navigation ul li:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.main-navigation > ul > li > a
{
	opacity: 1;
	
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/*.main-navigation > ul > li:hover > a {
	opacity: 0.6;
}*/
.main-navigation ul li{
	padding:0 25px;
}	
.main-navigation ul li a {
	display: inline-block;
	padding: 22px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:600;
	border-bottom:3px solid transparent;
}


@-webkit-keyframes main_nav_anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes main_nav_anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes main_nav_anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes main_nav_anim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.main-navigation ul ul {
	border-top:2px solid;
	.border-color();
	background-color: #fff;
	padding:15px 0;
	position: absolute;
	top: 100%;
	.left(0);
	.opacity(0);
	.rotateX(-90deg);
	.transform-origin(0 0 0);
	.transition(all 0.2s ease-in-out 0s);
	min-width:260px;
	z-index: 99999;
	.box-shadow(0px 2px 5px rgba(0,0,0,0.14));
	
	line-height: 23px;
	
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
			
	-webkit-animation-name: main_nav_anim;
	-moz-animation-name: main_nav_anim;
	-o-animation-name: main_nav_anim;
	animation-name: main_nav_anim;
}

.main-navigation ul ul li {
	.float-none();
	.text-left();
	display:block;
	border-top: 0px solid #ccc;
	position: relative;
	z-index: 99999;
	padding:0 20px;
}

.main-navigation ul ul li:last-child {
	border-bottom: 0px solid #ccc;
}
	
.main-navigation ul ul li a {
	display: block;
	padding:7px 0;
	text-transform: none;
	color: #000 !important;
	font-weight:400;
	border-bottom:none;
}
			
.main-navigation ul ul li a:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	.padding-left();
}

.main-navigation ul ul ul {
	position: absolute;
	.left(100%);
	top:-15px;
}
.main-navigation ul ul ul li a:before{
	content:'';
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display:inline-block;
	vertical-align:top;
}
.main-navigation ul ul ul li a:hover:before{
	content:'\f301';
	font-family:'Material-Design-Iconic-Font';
	.margin-right();
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	.color();
}
/*Mega-Menu*/
.main-navigation .mega-menu ul .sub-menu
{
    position: static;
    display: block;
	.opacity(1);
	.rotateX(0deg);
	.transform-origin(0 0 0);
	border-top:none;
	visibility: visible;
}

.main-navigation .mega-menu li.menu-item-has-children a:after
{
	display:none;
}

.main-navigation .mega-menu ul li
{
	white-space:normal;
	padding:0;
}

.main-navigation .mega-menu ul ul
{
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	font-weight:normal;
	background:none;
		
}

.main-navigation .mega-menu > ul
{
	position:absolute;
	margin:0;
	padding:15px;
}

.main-navigation .mega-menu > ul.with_bg_image
{
	.padding(20px, 150px, 0, 0);
	background-position:top right;
	background-repeat:no-repeat;
	background-size:contain;
}

.main-navigation .mega-menu > ul ul
{
	margin:0;
	padding:5px 0 20px 0;
}

.main-navigation .mega-menu > ul ul ul
{
	margin:0;
	padding:5px 0 0 0;
}

.main-navigation .mega-menu > ul > li
{
    /*float: left;*/
	display:table-cell;
	width:250px;
	min-width: 250px;
}

.main-navigation .mega-menu > ul > li > a
{
	text-transform:uppercase;
	font-weight:bold;
	position:relative;
	.padding(15px, 0, 15px, 20px) !important;
	border-bottom:2px solid @bordercolor !important;
	margin-bottom:10px;
	&:hover{
		.padding-left(20px) !important;
		border-color:@bordercolor !important;
	}
	&:before{
		content:'';
		display:block;
		width:10px;
		height:10px;
		background-color:transparent;
		border:2px solid;
		.border-color();
		position:absolute;
		top:20px;
		.left(0);
	}
}

.main-navigation sup {
    font-weight: 900;
    font-size: 9px;
}

.main-navigation .fa {
	font-size: 14px;
	margin-right: 3px;
}

.main-navigation sup .fa {
    font-size: 9px; 
    margin-left: 3px;
}


/**********************************************************************************/
/*  Navigation / Small & Medium Screens *******************************************/
/**********************************************************************************/

.vg-menu.slide-from-right
{
	background-color: #fff;
}

.mobile-navigation {
	padding:23px 0;
	border-bottom:1px solid #e5e5e5;
}

.mobile-navigation ul,
.mobile-navigation li {
	padding:0;
	margin:0;
	list-style:none;
	display:block;
	font-size: 1em;
}

.mobile-navigation ul li {
	text-transform:none;
	display:block;
	position:relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mobile-navigation > ul > li {
	text-transform:uppercase;
}

.mobile-navigation .sub-menu {
	display:none;
	position: relative;
	padding: 5px 0 13px 12px;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	
	-webkit-backface-visibility: hidden; /*webkit fix*/
    -webkit-transform: translateZ(0); /*webkit fix*/
}

.mobile-navigation .sub-menu.open {
	display:block;
	
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
			
	-webkit-animation-name: main_nav_anim;
	-moz-animation-name: main_nav_anim;
	-o-animation-name: main_nav_anim;
	animation-name: main_nav_anim;
	
	-webkit-backface-visibility: hidden; /*webkit fix*/
    -webkit-transform: translateZ(0); /*webkit fix*/
}

.mobile-navigation  .sub-menu.open li:last-child  .sub-menu.open{
	padding-bottom: 20px;
	margin-bottom: -20px;
}

.mobile-navigation  li:last-child  > .sub-menu.open
{
	margin-bottom: -20px;
}

.mobile-navigation .sub-menu .sub-menu
{
	padding: 7px 0 13px 10px;
}

.mobile-navigation .sub-menu .sub-menu .sub-menu {
	padding:0;
	margin:0;
}

.mobile-navigation .menu-item-has-children .more,
.mobile-navigation .menu-item-language .more
{
	display:block;
	position:absolute;
	top:5px;
	right:14px;
	width:30px;
	height:30px;
	margin-top:0px;
	color:#a3a3a3;
	text-align:center;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	content:"";
	font-size:16px;
	vertical-align:middle;
	line-height:30px;
	cursor:pointer;
}

.mobile-navigation .menu-item-language .sub-menu .more {
	display:none;
}

.mobile-navigation a:hover,
.mobile-navigation .menu-item-has-children.current a,
.mobile-navigation .menu-item-has-children.current .more {
	color:#000;
}

.mobile-navigation .sub-menu .sub-menu .menu-item-has-children .more {
/*	border:3px solid #6e6e6e;
	color:#6e6e6e;*/
}

.mobile-navigation a {
	font-size:14px;
	color:#a3a3a3;
	padding:10px 25px;
	display:inline-block;
	text-transform:uppercase;
}

.mobile-navigation.primary-navigation a
{
	font-weight:bold;
}

.mobile-navigation .sub-menu a {
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	padding: 8px 20px;
	text-transform:capitalize;
	color:#a3a3a3;
}

.mobile-navigation a:hover {
	color:#999;
}
.mobile-navigation.sub-menu a:hover {
	color:#000;
}

#menu-hamburger-menu a
{
	font-weight: normal;
}


/*Off-Canvas Search*/

.mobile-search
{
	position: relative;
}

.mobile-search .widget
{
	margin-bottom: 0;
}

.mobile-search .widget form > div 
{
	padding-top: 0;
}

.mobile-search .widget_search .search-form:after,
.mobile-search .woocommerce-product-search:after
{
	display: none;
}

.mobile-search .widget_product_search input[type="submit"],
.mobile-search .widget_search #searchsubmit,
.mobile-search .widget_product_search .search-submit,
.mobile-search .mobile_search_submit
{
	color: #a3a3a3;
	text-align: center;
	
	width: 40px;
	height: 40px;
	line-height: 40px;
	
	position: absolute;
	top: 6px;
	right: 12px;
}

.mobile-search .widget_product_search #searchsubmit,
.mobile-search .widget_search #searchsubmit,
.mobile-search .widget_product_search .search-submit,
{
	font-size: 0;
}

.mobile-search .mobile_search_submit
{
	font-size: 0.875rem;
}

.mobile-search input[type="search"]
{
	font-size: 1.125rem;
	font-weight: bold;
	color: #000;
	border: none;
	
	border-bottom: 1px solid #e5e5e5;
	padding: 13px 60px 14px 24px;
	height: auto;
}

.mobile-search input[type="search"]::-webkit-input-placeholder { font-weight: 900; color: #a3a3a3; text-transform: lowercase; opacity: 1; }
.mobile-search input[type="search"]::-moz-placeholder { font-weight: 900; color: #a3a3a3; text-transform: lowercase; opacity: 1;} /* firefox 19+ */
.mobile-search input[type="search"]:-ms-input-placeholder { font-weight: 900; color: #a3a3a3; text-transform: lowercase; opacity: 1;} /* ie */
.mobile-search input[type="search"]:-moz-placeholder { font-weight: 900; color: #a3a3a3; text-transform: lowercase; opacity: 1; }


/*Off-Canvas Language and Currency */

.language-and-currency-offcanvas
{
	padding: 36px 24px 21px;
	border-bottom: 1px solid #e5e5e5;
}

.language-and-currency-offcanvas img
{
	display: none;
}

select.topbar-language-switcher,
select.wcml_currency_switcher{
	font-size: 0.8125rem;
	color: #a3a3a3;
	
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	
	font-weight: normal;
	text-transform: uppercase;
	
	height: 2.5rem;
	margin: 0 0 15px;
	outline: medium none;
	
}

.language-and-currency-offcanvas .select2-container.topbar-language-switcher,
.language-and-currency-offcanvas .select2-container.wcml_currency_switcher
{
	display: block;
	height: auto;
	line-height: normal;
	padding-top: 0px;
	margin: 0 0 12px 0;
}

.language-and-currency-offcanvas .select2-container .select2-choice
{
	display: inline-block;
	padding-bottom: 7px;
	color: #a3a3a3;
	font-weight: normal;
}

.language-and-currency-offcanvas .select2-container:last-of-type
{
	margin-bottom: 8px;
}