/* Screen > 1024px */
@media screen and (min-width: 1200px) {
	.container{
		width:100%;
		max-width:1200px;
	}
}

/* Screen > 1024px */
@media screen and (min-width: 1023px) {
	.visible-lg{
		display:block !important;
	}
}

/* Screen < 1200px */
@media screen and (max-width: 1200px) {
	.woocommerce table.shop_table .product-name{
		width:350px;
	}
	.page-404{
		background-position: center center;
		background-size: 100% 100%;
	}
	.page-404 .page-content {
		padding-top: 60px;
	}
	.shop-products .vgw-item{
		&.first{
			clear:none;
		}
		&:nth-child(2n+1){
			clear:both;
		}
	}
	.hidden-1200{
		display:none !important;
	}
	.text-12{
		&:after{
			display:none;
		}
	}

	#customer_details, #order_review{
		width:100%;
		.float-none();
		.padding(0,0,0,0) !important;
		margin-bottom:40px;
	}
	#vg-header-wrapper.fixed{
		position:static !important;
	}
	/************************************/

	.vc_welcome {
		.content-text{
			padding:25px;
		}
		.index, .title{
			margin-bottom:10px;
		}
		.learn-more{
			margin:15px 0 0;
		}
		.item-rating{
			margin-top:25px;
		}
	}
	.coming-soon #logo-wrapper{
		margin-bottom:25px;
	}
	.coming-soon h2{
		font-size:40px;
		line-height:40px;
		b{
			font-size:50px;
			line-height:50px;
		}
	}
	#coming-soon{
		margin-top:20px;
		margin-bottom:35px;
		i{
			font-size:24px;
			line-height:30px;
		}
		div {
			font-size:14px;
			line-height:20px;
			span{
				font-size:24px;
				line-height:30px;
			}
		}
	}
	.toolbar .vgw-filter .widget.widget_layered_nav{
		margin-bottom:10px;
	}
	.toolbar .woocommerce-result-count{
		.margin(0, 10px, 10px, 0);
		.float-left();
		border:1px solid @bordercolor;
		padding:0 15px;
		line-height:33px;
	}
	.woocommerce .buttons-cart .button{
		&.continue{
			.float-right();
		}
	}
	.st-feature-post.visible-buttons .owl-controls .owl-buttons{
		.left(auto);
		.right(70px);
	}
	.banner-image.bn-32{
		min-height:1px;
	}
	.banner-image.bn-32 .title{
		font-size:16px;
		a:after{
			display:none;
		}
	}
	.banner-text .content-text{
		.right(20px);
		width:350px;
	}
	.banner-text .content-text .text-1{
		font-size:40px;
		line-height:40px;
	}
	.banner-text .content-text .text-2{
		font-size:14px;
		line-height:22px;
	}
	/* Update New */
	.top-bar .widget.widget_nav_menu li {
	  margin: 0 8px;
	}
	#navigation{
		border-bottom:1px solid @bordercolor;
	}
	.main-navigation{
		.text-center();
	}
	.top-static{
		border-left-width:1px !important;
		border-right-width:1px !important;
	}
	.discount{
		.text-center;
	}
	.banner-top .content .text{
		.margin-left(30px);
	}
	.banner-top .content .text-1{
		font-size:50px;
		line-height:52px;
		margin-bottom: 20px;
	}
	.banner-top .content .text-2{
		margin-bottom:15px;
	}
	.banner-top .btn-banner{
		margin-top:0;
		a{
			padding:7px 20px;
		}
	}
	.header-style-3 {
		.logo-inside{
			.text-center();
			padding:35px 0 15px;
		}
		#navigation{
			border-bottom:none;
			padding-top:0;
			padding-bottom:0;
		}
		.main-navigation{
			.text-left();
		}
	}
	.header-style-4 {
		.logo-inside{
			.text-center();
			padding:0;
			margin:25px 0 10px;
		}
		#navigation{
			border-bottom:none;
			padding-top:0;
			padding-bottom:0;
		}
		.main-navigation{
			.text-left();
		}
		.top-static{
			border:none !important;
			padding-top:15px;
			padding-bottom:20px;
		}
	}
	.header-style-5{
		.search-inside{
			max-width: 500px;
			margin: 0 auto 20px;
		}
		.logo-inside{
			&.logo-center{
				.text-left();
			}
		}
		#navigation{
			border-bottom:none;
		}
		.top-social{
			padding-bottom:5px;
			.text-center();
			border:1px solid fade(#fff, 20%);
			border-bottom:none;
			.widget_vgw_social_media {
				.float-none();
				display:inline-block;
			}
		}
	}
	.vgw-socials a{
		width:40px;
		height:40px;
		line-height:40px;
		&:after{
			font-size:18px;
			line-height:40px;
		}
	}
	.banner-text .text h3 {
		font-size: 32px;
		line-height: 40px;
	}
	.banner-text .btn-banner a{
		padding:7px 15px;
	}
	.group-banners.style-2{
		margin-top:30px;
	}
	.banner-slide .text{
		.text-center();
		font-size:40px;
		line-height:50px;
	}
	.banner-slide .text .inner:after{
		display:none;
	}
	.toolbar .woocommerce-result-count{
		float: right;
    	border: none;
	}
}

/* Screen < 1024px */
@media screen and (max-width: 1023px) {
	.visible-xs{
		display:block !important;
	}
	/* Front Page */
	.vc_content, .vc_sidebar{
		width:100% !important;
		margin-bottom:40px;
	}

	.wpb-js-composer .wpb_row .vc_tta.vc_general .vc_tta-tabs-list{
		position:static;
		margin-bottom:25px !important;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li{
		padding:10px 0;
		.margin-right(25px);
	}
	/************************************/

	.coming-soon:after{
		display:none;
	}
	.vgp-item-i.style-3 .post-content{
		position:static;
		.translate(0,0);
		background-color:@color;
		padding:25px;
		max-width:100%;
		width:100%;
	}
	.vgp-item-i.style-3 .post-title{
		font-size:28px;
		line-height:34px;
	}
	.vgp-item-i.style-3 .post-desc{
		font-size:14px;
		line-height:20px;
	}
	.st-feature-post{
		&.pg-absolute .owl-pagination{
			display:none;
		}
	}
	.st-feature-post.visible-buttons .owl-controls .owl-buttons{
		margin-top:15px;
		div{
			color:@textcolor;
		}
	}
	.vgw-socials{
		display:none !important;
	}
	/* Update New */
	.top-bar{
		.text-center();
		.col-topbar{
			width:100%;
		}
		.col-2 .inside-column{
			.float-none();
		}
		.inside-column{
			display:inline-block;
		}
		.widget ul ul{
			.text-left();
		}
	}
	#navigation{
		padding-top:10px;
		padding-bottom:10px;
	}
	.header-style-3 {
		.site-header{
			padding-bottom:15px;
		}
		.top-feature{
			padding-top:10px;
		}
	}
	.header-style-4 .top-cart{
		padding-top:5px;
	}
	.group-banners, .banner-text, .gr-banner-single, .bg-banner-single{
		display:none !important;
	}
}

/* Screen < 1024px */
@media screen and (max-width: 991px) {

	.col-md-5ths{
		width:50%;
		margin-bottom:25px;
		&:nth-child(2n+1){
			clear:both;
		}
		&:last-child{
			width:100%;
		}
	}
	#secondary, #content{
		margin-bottom:35px;
	}
	.woocommerce table.shop_table th, .woocommerce table.shop_table td{
		text-align:center;
	}
	.woocommerce table.shop_table th{
		font-weight:700;
		text-transform:uppercase;
		&.product-name{
			text-align:center;
		}
	}
	.woocommerce table.shop_table .product-name{
		width:300px;
	}
	.woocommerce table.shop_table .product-thumbnail{
		width:80px;
	}
	.woocommerce table.shop_table .product-quantity{
		.quantity{
			margin:0;
			display: inline-block;
			.section-title{
				display:none;
			}
		}
	}
	.full-column-sm{
		.vc_column_container {
			width:100% !important;
			margin-bottom:35px;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	.full-sm{
		.vc_column_container {
			width:100% !important;
		}
	}
	/****************************/

	.visible-buttons .owl-controls .owl-buttons{
		position:static;
		margin-top:30px;
	}

	.vc_row_section{
		padding:35px 0;
	}

	.vc_row_section.st-product {
		.visible-buttons .owl-controls .owl-buttons {
			margin-top:0;
			margin-bottom:35px;
		}
	}
	.vgs-icons .icon-box{
		&:nth-child(2n+1){
			clear:both;
		}
	}
	.vc_welcome .content-text {
		.text-center();
	}
	.box-about-us{
		padding: 0;
	}
	.page-header.style-2 .page-title{
		font-size:50px;
	}
	.teams{
		display:none;
	}
	.single-product-image .images{
		border-right:none;
	}
	.st-testimonial{
		margin-bottom:30px;
	}
	.st-sticky-post .title{
		position:static;
		text-align:center;
		.transform(none);
		padding:10px;
		margin:0;
	}
	.vgp-item-i.style-4 .post-image, .vgp-item-i.style-4 .post-content{
		width:100% !important;
	}
	.vgp-item-i.style-4 .post-image{
		padding:15px 0 0;
		img{
			.scale(1);
			width:auto;
		}
	}
	.vgp-item-i.style-4 .post-content{
		padding:25px
	}
	.banner-image.bn-32{
		padding-top:0;
	}
	.banner-image.bn-32 .title{
		position:static;
		height:auto;
		a{
			position:static;
			.translate(0,0);
		}
	}
	/* Update New */
	.logo-inside{
		padding:0;
		.text-center();
		margin-bottom:15px;
	}
	.top-search{
		margin-bottom:15px;
	}
	.top-cart{
		.text-center();
		&.style-1 .cart-inside{
			.float-none();
		}
		.cart-inside{
			display:inline-block;
		}
	}
	.col-footer{
		margin-bottom:35px;
	}
	.banner-top .content .text-1 {
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 15px;
	}
	.banner-top .content .text-2:before{
		margin-bottom:15px;
	}
	.header-style-3 {
		.top-feature{
			padding-top:10px;
			padding-bottom:10px;
			.text-center();
			.toogle-menu, .top-cart, .top-settings, .top-account{
				.float-none();
				display:inline-block;
				vertical-align:top;
				margin:0 1px !important;
			}
		}
		.toogle-inside, .setting-inside{
			.text-left();
		}
	}
	.header-style-4 .top-cart{
		padding-top:15px;
	}
	.header-style-5 .logo-inside.logo-center{
		.text-center();
	}
	.header-style-1, .header-style-2, .header-style-4{
		.search-inside{
			max-width:500px;
			margin:0 auto;
		}
	}
	.toolbar {
		.vgw-filter .widget.widget_layered_nav {
		    float: left;
		    margin: 0;
		    margin-right: 5px;
		    padding: 0;
		    height: 35px;
		    line-height: 35px;
		    border: 1px solid #e0e0e0;
		}
		.woocommerce-result-count{
			margin: 0 5px 10px 0;
			padding: 0 10px;
		}
		.woocommerce-ordering .orderby{
			padding: 0 6px;
		}

	}
}


/* Screen < 768px */
@media screen and (max-width: 767px) {
	.wpb-js-composer .wpb_row {
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading{
			background-color: transparent;
			.border-radius(0);
			margin:15px 0 !important;
			border-color:@textcolor;
			&:hover{
				background-color: @textcolor;
				color:#fff;
				.vc_tta-panel-title>a{
					color:#fff;
				}
			}
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel{
			.vc_tta-panel-title>a{
				color:@textcolor;
				text-transform:uppercase;
				font-weight:400;
			}
			&.vc_active{
				.vc_tta-panel-heading{
					background-color: @textcolor;
					border-color:@textcolor;
				}
				.vc_tta-panel-title>a{
					color:#fff;
				}
			}
		}
	}
	.woocommerce .actions .cart-total-wrapper .total-cost{
		margin-top:25px;
		.cart_totals table{
			tr{
				display:table-row
			}
			th, td{
				width:50%;
			}
		}
	}
	#customer_details,
	#order_review{
		padding:0 0 25px;
		width:100%;
	}
	#order_review .shop_table{
		td:before{
			display:none;
		}
	}
	.search-overlay .vina-product-search form{
		left:40px;
		right:40px;
	}
	/************************************/

	.full-column-xs{
		.vc_column_container{
			width:100% !important;
			margin-bottom:35px !important;
		}
	}
	.float-images .wpb_single_image{
		max-width:100% !important;
		.float-none() !important;
		margin-bottom:20px !important;
		padding:0 !important;
		.text-center();
	}
	.box-sign{
		padding-left:25px;
		padding-right:25px;
	}
	.vc_page-title{
		font-size:50px;
	}

	.sub_page-title{
		letter-spacing:normal;
	}
	.coming-soon #logo-wrapper{
		.text-left();
	}
	.vgw-testimonial .owl-controls .owl-buttons{
		display:none !important;
	}
	/* Update New */
	.header-style-3 .toogle-inside, .header-style-3 .setting-inside{
		.right(auto);
		.left(0);
		width:230px;
	}
	.toolbar{
		.vgw-filter{
			float: none;
		}
		.woocommerce-result-count, .woocommerce-ordering{
			margin-top: 55px;
		}
	}
}

/* Screen < 600px */
@media screen and (max-width: 599px) {
	.mcart-border{
		display:none;
	}
	.shop-products .vgw-item{
		width:100%;
	}
	.woocommerce table.shop_table {
		margin: 1em 0;
		min-width: 300px;
		tr {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			&:nth-child(2n+2){
				background:#f2f2f2;
				&.shipping{
					background:none !important;
					td{
						background-color:transparent !important;
					}
				}
			}
			td {
				display: block !important;
				margin: 0 !important;
				padding-left: 10px !important;
			}
		}
		th {
			display: none;
		}
		td {
			&:first-child {
				padding-top: .5em;
			}
			&:last-child {
				padding-bottom: .5em;
			}
			&:before {
				content: attr(data-th)" ";
				font-weight: bold;
				width: 6.5em;
				display: inline-block;
				font-size: 14px;
				text-transform: none;
				color:fade(@textcolor, 50%);
			}
		}

		th, td {
			text-align: left !important;
		}
		.product-thumbnail{
			max-width:100%;
			width:100%;
		}
		.buttons-cart{
			td{
				&:before, &:after{
					content:'';
					display:table;
				}
				&:after{
					clear:both;
				}
			}
		}
	}
	.search-overlay .vina-product-search form{
		height:60px;
		left:10px;
		right:10px;
	}
	.search-overlay .vina-product-search form input[type=text]{
		padding: 10px 15px 10px 15px !important;
		font-size: 14px;
		height:54px;
		text-transform:none;
	}
	.search-overlay .vina-product-search form button{
		width:54px;
		height:54px;
		line-height:54px;
		top:0;
		.right(0);
		background-color:#fff;
		.color();
		&:after{
			line-height:54px;
			font-size:18px;
		}
		&:hover{
			.background-color();
			color:#fff !important;
		}
	}

	#customer_details .woocommerce-billing-fields{
		.form-row{
			width:100%;
		}
	}
	.comments-area .children{
		.padding-left(0)
	}

	.tparrows, .tp-bullets, .tp-tabs, .tp-thumbs{
		display:none !important;
	}
	/***********************/
	.vgp-item-i.style-2 .post-image, .vgp-item-i.style-2 .post-content{
		width:100%;
	}
	.vgp-item-i.style-2 .post-content{
		padding:15px 0 !important;
		.text-center() !important;
	}
	.vgp-item-i.style-1 .post-content{
		position:static;
		padding:15px 0;
	}
	.page-header.style-2 .page-title{
		font-size:30px;
		line-height:40px;
	}
	.filter-options .btn{
		margin:0 5px 5px !important;
	}
	.filter-options .btn span{
		padding:10px 15px;
	}
	.coming-soon{
		padding:60px 20px;
	}
	#coming-soon{
		i{
			font-size:18px;
			margin:0 5px;
		}
		div {
			span{
				font-size:18px;
			}
		}
	}
	.coming-soon h2{
		font-size:30px;
		line-height:30px;
		b{
			font-size:40px;
			line-height:40px;
		}
	}
	.woocommerce .quality_text{
		font-size:13px;
		line-height:20px;h2{
		font-size:18px;
			line-height:26px;
		}
	}
	.vgp-item-i.style-3 .post-title{
		font-size:20px;
		line-height:30px;
	}
	.vgp-item-i.style-3 .post-readmore{
		margin-top:20px;
	}
	.vgp-item-i.style-4 .post-desc{
		font-size:14px;
		line-height:24px;
	}
	.st-testimonial .inside-section{
		min-height:1px;
		padding:20px;
	}
	.st-testimonial .inside-section .quote{
		position:static;
		.translate(0,0);
		margin-bottom:20px;
		padding:0;
		font-size:18px;
		line-height:26px;
	}
	.st-testimonial .inside-section .name{
		position:static;
	}
	.all-posts .page-title{
		padding-left:15px;
		padding-right:15px;
	}
	.all-posts .post .post-wrapper{
		.padding-right(0);
	}
	.all-posts .post .post-date{
		position:static;
		margin-top:15px;
	}
	.client-image{
		.float-none();
		width:100%;
		.text-center();
		max-width:100%;
		margin:0;
		padding:15px;
	}
	.client-info{
		margin:0;
		padding:25px;
	}
	.client-info:after{
		display:none;
	}
	.client-info .cl-quote{
		margin:20px 0;
	}
	/* Update New */
	.top-bar .widget ul li, .top-bar .widget ol li{
		padding-top:7px;
		padding-bottom:7px;
	}
	.top-bar .widget.widget_nav_menu li{
		margin:0 7px;
	}

	.col-footer{
		.widget{
			width:100% !important;
		}
	}
	.top-banner{
		display:none;
	}
	.header-style-3{
		.top-feature{
			.toogle-menu, .top-settings, .top-account{
				display:none;
			}
		}
	}
	.banner-slide .text {
		display:none;
	}
}

/* Screen < 460px */
@media screen and (max-width: 459px) {

	.s-hidden{
		display:none !important;
	}

	.col-md-5ths,
	.list-person .vc_column_container{
		width:100%;
	}
	.tparrows, .tp-bullets{
		display:none;
	}
	.woocommerce table.shop_table .buttons-cart .button{
		float:none;
		margin-bottom:10px;
	}

	.single-product-info .cart .variations tr{
		width:100%;
	}
	.page-404{
		background:#fff;
	}
	.comment-avatar{
		float:none;
		display:block;
		margin:0 auto 20px;
	}
	.comment-info{
		margin:0 !important;
	}
	/************************************/
	.vina-product-search form .select-category{
		display:none;
	}
	.vina-product-search form input[type=text]{
		.padding(12px, 15px, 12px, 15px) !important;
	}
	.wpb_heading.style-3{
		font-size:18px;
	}
	.wpb_heading.style-3:before{
		vertical-align:middle;
	}
	.vgw-item-i{
		.button-group{
			.add-to-cart{
				a{
					width:45px;
					overflow:hidden;
					text-indent:-999px;
					&:before{
						text-indent:0;
						position:absolute;
						top:0;
						left:0;
						width:45px;
						height:36px;
						.margin-right(0);
					}
					&:after{
						content:'+';
						display:inline-block;
						position:absolute;
						top:0;
						right:0;
						text-indent:0;
						line-height: 25px;
					}
				}
			}
		}
	}
	.vgw-item-i.special .timer-grid{
		div{
			width:50%;
		}
	}
	.vc_page-title{
		font-size:30px;
		line-height:45px;
	}
	.wpcf7-form .field-wrap label,
	.wpcf7-form .field-wrap .wpcf7-form-control-wrap{
		width:100%;
		padding:0 !important;
	}
	.filter-options .btn{
		font-size:14px;
		line-height:20px;
		span{
			padding:8px 10px;
		}
	}
	.toolbar .vgw-filter .widget,
	.toolbar .woocommerce-result-count,
	.toolbar .woocommerce-ordering,
	.toolbar .woocommerce-ordering select{
		width:100%;
		margin:0 0 10px;
	}
	.single-product-image{
		margin-bottom:40px;
		.images{
			.padding-left(0);
			margin-bottom:20px;
		}
	}
	#thumbnail-slider, .up-sells{
		display:none;
	}
	.woocommerce .buttons-cart .button{
		width:100%;
		text-align:center;
		&.continue{
			.float-none();
		}
	}
	.woocommerce .woocommerce-billing-fields label, .woocommerce .woocommerce-shipping-fields label{
		.float-none();
		width:100%;
		position:static;
	}
	.woocommerce .woocommerce-billing-fields .form-row, .woocommerce .woocommerce-shipping-fields .form-row{
		.padding-left(0);
	}
	.inner-popup{
		width:100%;
		padding-left:20px;
		padding-right:20px;
	}
	.inner-popup .widget_nav_menu ul li a{
		font-size:20px;
		line-height:26px;
	}
	.banner-text .content-text .text-1{
		font-size:20px;
		line-height:20px;
	}
	.banner-text .content-text .link-button{
		margin-top:20px;
	}
	.banner-text .content-text .text-2{
		font-size:13px;
		line-height:18px;
	}
	.banner-text .content-text .btn-banner{
		padding:7px 15px;
	}
	/* Update New */
	.top-bar .widget.widget_nav_menu li ul{
		display:none;
	}
	.top-bar .widget.widget_nav_menu li.menu-item-has-children:after{
		display:none;
	}
	.toolbar{
		position: relative;
		.vgw-filter .widget.widget_layered_nav{
			margin-bottom: 40px;
		}
		.woocommerce-result-count{
			position: absolute;
			top: 270px;
		}
	}
}

/* Screen < 320px */
@media screen and (max-width: 319px) {
	.wpb_heading {
		font-size:18px;
	}
}
