.for(@list, @code) {
    & {
        .loop(@i:1) when (@i =< length(@list)) {
            @value: extract(@list, @i);

            @code();

            .loop(@i + 1);
        }
        .loop();
    }
}
@themeColors : #f3aa0e, #7b7a27, #f06676, #1197d6;
.for(@themeColors, {
	.preset-@{i} { 
		
	}
});

@bodyfont: 'Poppins', Arial, sans-serif;
@bodyfont2: 'Playfair Display', Arial, sans-serif;
@bodyfont3: 'Droid Serif', Arial, sans-serif;
@bodyfont4: 'Montserrat', sans-serif;
@textcolor: #000;
@textcolor2: #4e4e4e;
@textcolor3: #303030;

@primarycolor :  #f3aa0e;
@primarycolor5: #5db582;

@salecolor :#f0412b;
@featuredcolor :#5db582;

@darken: #0e1522;
@darken2: #121d32;

@lighten: #8fbbe0;

@color: #f0412b;
@color-facebook : #3b5998;
@color-twitter : #6acff4;
@color-gplus : #ab2727;
@color-pinterest : #CB2028;

@black : #000;
@greycolor : #aaa;
@darkcolor: #222;
@darkcolor2: #333;
@darkcolor3: #1f1f1f;
@darkcolor4: #171717;


@bordercolor: #e0e0e0;
@bordercolor2: fade(@black, 15%);
@bordercolor3: fade(@black, 6%);

@bgcolor : #f9f9f9;
/* CSS3 PROPERTIES */
.box-sizing(@box-sizing) {
  -webkit-box-sizing: @box-sizing;
     -moz-box-sizing: @box-sizing;
     -ms-box-sizing: @box-sizing;
          box-sizing: @box-sizing;
}
/* Border Radius */
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
     -ms-border-radius: @radius;
          border-radius: @radius;
}
.opacity(@opacity) {
  opacity: @opacity;
  /* IE8 filter*/
  @opacity-ie:(@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.animation(@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
     -ms-animation: @animation;
     -o-animation: @animation;
          animation: @animation;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
     -ms-box-shadow: @shadow;
     -o-box-shadow: @shadow;
          box-shadow: @shadow;
}

.transform(@transform) {
	-webkit-transform: @transform;
		-moz-transform: @transform;
		-ms-transform: @transform;
			-o-transform: @transform;
				transform: @transform;
}
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
     -moz-transform: translate3d(@x, @y, @z);
       -o-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.rotateX(@degrees) {
  -webkit-transform: rotateX(@degrees);
      -ms-transform: rotateX(@degrees); // IE9 only
       -o-transform: rotateX(@degrees);
          transform: rotateX(@degrees);
}
.rotateY(@degrees) {
  -webkit-transform: rotateY(@degrees);
      -ms-transform: rotateY(@degrees); // IE9 only
       -o-transform: rotateY(@degrees);
          transform: rotateY(@degrees);
}
.perspective(@perspective) {
  -webkit-perspective: @perspective;
     -moz-perspective: @perspective;
          perspective: @perspective;
}
.perspective-origin(@perspective) {
  -webkit-perspective-origin: @perspective;
     -moz-perspective-origin: @perspective;
          perspective-origin: @perspective;
}
.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
     -moz-transform-origin: @origin;
      -ms-transform-origin: @origin; // IE9 only
          transform-origin: @origin;
}

.color(@color:@themeColors) {
	.for(@color, {
		.preset-@{i} & {  
			color: @value;
		}
	});
}
.color2(@color:@themeColors) {
	.for(@color, {
		.preset-@{i}& {  
			color: @value;
		}
	});
}
.background-color(@color:@themeColors) {
	.for(@color, {
		.preset-@{i} & { 
			background-color: @value;
		}
	});
}
.background-color2(@color:@themeColors) {
	.for(@color, {
		.preset-@{i}& { 
			background-color: @value;
		}
	});
}
.background(@color:@themeColors) {
	.for(@color, {
		.preset-@{i} & { 
			background: @value;
		}
	});
}
.border-color(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i} & { 
			border-color: @value;
		}
	});
}
.border-color2(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i}& { 
			border-color: @value;
		}
	});
}
.border-top-color(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i} & { 
			border-top-color: @value;
		}
	});
}
.border-bottom-color(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i} & { 
			border-bottom-color: @value;
		}
	});
}
.border-top-color2(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i}& { 
			border-top-color: @value;
		}
	});
}
.border-bottom-color2(@color:@themeColors ) {
	.for(@color, {
		.preset-@{i}& { 
			border-bottom-color: @value;
		}
	});
}

/*RTL*/
//overight
.margin-right(@value: 10px){
	margin-right: @value;
	.rtl &{
		margin-left: @value;
		margin-right: 0;
	}
}
.margin-left(@value: 10px){
	margin-left: @value;
	.rtl &{
		margin-right: @value;
		margin-left: 0
	}
}
.margin(@top, @right, @bottom, @left) {
	margin: @top @right @bottom @left;
	.rtl & {
		margin: @top @left @bottom @right;
	}
}
 
.padding-right(@value: 10px){
	padding-right: @value;
	.rtl &{
		padding-left: @value;
		padding-right: 0;
	}
}
.padding-left(@value: 10px){
	padding-left: @value;
	.rtl &{
		padding-right: @value;
		padding-left: 0;
	}
}
.padding(@top, @right, @bottom, @left) {
	padding: @top @right @bottom @left;
	.rtl & {
		padding: @top @left @bottom @right;
	}
}

.right(@value: 10px){
	right: @value;
	.rtl &{
		left: @value;
		right: auto;
	}
}
.left(@value: 10px){
	left: @value;
	.rtl &{
		left: auto;
		right: @value;
	}
}

.float-right() {
	float: right;
	.rtl &{
		float: left;
	}
}
.float-left() {
   float: left;
   .rtl &{
		float: right;
	}
 }
.float-none() {
   float: none;
   .rtl &{
		float: none;
	}
 }
 
.text-left() {
	text-align: left;
	.rtl &{
		text-align: right ;
	}
}
.text-right() {
	text-align: right;
	.rtl &{
		text-align: left;
	}
}
.text-center() {
	text-align: center;
	.rtl &{
		text-align: center; 
	}
}
.border-left-width(@border) {
	border-left-width: @border;
	.rtl &{
		border-left-width: 0;
		border-right-width: @border;
	}
}
.border-right-width(@border) {
	border-right-width: @border;
	.rtl &{
		border-right-width: 0;
		border-left-width: @border;
	}
}
.border-color(@top, @right, @bottom, @left) {
	border-color: @top @right @bottom @left;
	.rtl & {
		border-color: @top @left @bottom @right;
	}
}